PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/team_task_manager
JWT_SECRET=replace_with_secure_random_string
CLIENT_URL=http://localhost:5173
ALLOW_ADMIN_SIGNUP=false
